body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}
.tdLabel .label, .wwlbl  .label {
	background-color: #ffffff;
	color: #000000;
	text-shadow: none;
}
.alert li {
	list-style: none;
}
.errorMessage, label.errorLabel {
	color: red;
}

.wwFormTable tr {
	padding-bottom: 5px;
}

.page-header, .footer {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	padding-right: 10px;
	padding-left: 10px;
}
